{% extends "customers/base-company.html" %}

{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block title %}{% trans "Checklists" %}{% endblock %}
{% block title2 %}{% trans "Checklists" %}{% endblock %}

{% block content-top %}
  <a title="{% trans "Edit checklist" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url checklist-edit company.id checklist.id %}"></a>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Checklist" %}: {{ checklist.title }}</h1>
  <div style="margin: 10px">
    <table class="detail">
      <tr class="even">
        <td class="fieldname">{% trans "Titolo" %}</td>
        <td> {{ checklist.title }}</td>
      </tr>
      <tr class="odd">
        <td class="fieldname">{% trans "Company" %}</td>
        <td> {{ checklist.company }}</td>
      </tr>
      <tr class="even">
        <td class="fieldname">{% trans "Recorded on" %}</td>
        <td> {{ checklist.record_date }} </td>
      </tr>
      <!-- <tr class="odd"> -->
      <!--   <td class="fieldname">{% trans "Suggestion Yes" %}</td> -->
      <!--   <td> {{ riskfactor.suggestion_yes }} </td> -->
      <!-- </tr> -->
      <!-- <tr class="even"> -->
      <!--   <td class="fieldname">{% trans "Suggestion No" %}</td> -->
      <!--   <td> {{ riskfactor.suggestion_no }} </td> -->
      <!-- </tr> -->
      <!-- <tr class="odd"> -->
      <!--   <td class="fieldname">{% trans "Notes" %}</td> -->
      <!--   <td> {{ riskfactor.notes }} </td> -->
      <!-- </tr> -->
      <!-- <tr class="even"> -->
      <!--   <td class="fieldname">{% trans "Link" %}</td> -->
      <!--   <td> {{ riskfactor.link }} </td> -->
      <!-- </tr> -->
      <!-- <tr class="odd"> -->
      <!--   <td class="fieldname">{% trans "Filename" %}</td> -->
      <!--   <td> {{ riskfactor.filename }} </td> -->
      <!-- </tr> -->
      <!-- <tr class="even"> -->
      <!--   <td class="fieldname">{% trans "Parent" %}</td> -->
      <!--   <td> -->
      <!--     {% if riskfactor.parent %} -->
      <!--     <a href="{% url riskfactor-detail riskfactor.parent.id %}">{{ riskfactor.parent }}</a> -->
      <!--     {% else %} -->
      <!--     <a href="{% url riskfactors %}">{% trans "Checklists" %}</td> -->
      <!--     {% endif %} -->
      <!--   </td> -->
      <!-- </tr> -->
      <!-- <tr class="odd"> -->
      <!--   <td class="fieldname">{% trans "Children" %}</td> -->
      <!--   <td id="riskfactors"></td> -->
      <!-- </tr> -->
    </table>
  </div>
</div>
{% endblock %}
