{% extends "customers/base-company.html" %}
{% load i18n %}

{% block extra_head %}
<link href="/static/datatables/css/demo_table_jui.css" type="text/css" media="all" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
{% endblock %}

{% block title %}{% trans "Risks Evaluation Documents" %}: {{ company.firm }} {% endblock %}
{% block title2 %}{% trans "Risks Evaluation Documents" %}: {{ company.firm }} {% endblock %}

{% block content-top %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    $(document).ready( function () {
                           $('#red').dataTable({
                                                     "bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
                                                     "aoColumns": [/* Revision */ null,
                                                         /* record_date */ null,
                                                         /* revision_description */ null,
                                                         /* record_by */ null,
                                                         /* rls_check */ null,
                                                         /* doctor_check */ null,
                                                         /* owner_check */ null,
                                                         /* Azioni */ { "bSearchable": false,
                                                                        "bVisible": true,
                                                                        "bSortable": false,
                                                                        "mDataProp": null,
                                                                      },
                                                     ],
                                                 }
                                                );
                       } );
</script>

<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Risks Evaluation Documents" %}</h1>
  <div style="margin-top: 10px">
    <table id="red" class="display">
      <thead>
        <tr>
          <th>{% trans "Revision" %}</th>
          <th>{% trans "Record on" %}</th>
          <th>{% trans "Revision description" %}</th>
          <th>{% trans "Record by" %}</th>
          <th>{% trans "RLS check" %}</th>
          <th>{% trans "Doctor check" %}</th>
          <th>{% trans "Company Owner" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for red in reds %}
        <tr>
          <td>
            <a href=" url red-detail company.id red.id">{{ red.revision }} {{red.id }}</a>
          </td>
          <td>
            {{ red.record_date }}
          </td>
          <td>
            {{ red.revision_description }}
          </td>
          <td>
            <a href="{% url profile %}">{{ red.record_by }}</a>
          </td>
          <td>
            {{ red.rls_check }}
          </td>
          <td>
            {{ red.doctor_check }}
          </td>
          <td>
            {{ red.companyowner_check }}
          </td>
          <td>
            <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href=" url red-edit company.id red.id ">
              <a title="{% trans "Delete" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="url red-delete company.id red.id"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
