{% load i18n %}
{% if riskfactor.question %}
  <script type="text/javascript" src="/static/js/riskevaluation.js"></script>
  <script>
    risk_evaluation_interface();
  </script>
  {% if riskfactor.notes %}
  <div id="dlg-notes" title="{% trans "Notes" %}">
    <p>{{ riskfactor.notes }}</p>
  </div>
  {% endif %}
  {% if riskfactor.suggestion_yes %}
  <div id="dlg-sugg-yes" title="{% trans "Suggestion Yes" %}">
    <p>{{ riskfactor.suggestion_yes }}</p>
  </div>
  {% endif %}
  {% if riskfactor.suggestion_no %}
  <div id="dlg-sugg-no" title="{% trans "Suggestion No" %}">
    <p>{{ riskfactor.suggestion_no }}</p>
  </div>
  {% endif %}
  <h1 class="ui-helper-reset ui-widget-header">
    {% trans "Risk Factor Evaluation" %}: <span>{{ riskfactor.description }}</span>
  </h1>
  <form id="riskevalform"
        action="/risksevaluation/{{company.id}}/revision/{{document.revision}}/eval/{{riskfactor.id}}/" method="post">
    {% csrf_token %}
    <div class="ui-helper-reset ui-widget-content">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">{% trans "Question" %}</a></li>
          <li><a href="#tabs-2">{% trans "Evaluation" %}</a></li>
          <li><a href="#tabs-3">{% trans "Measure" %}</a><li>
        </ul>
        <div id="tabs-1">
          <p>{{ riskfactor.question }}</p>
	  <div style="padding: 10px 4px">
            {% if riskfactor.notes %}
            <a id="show-notes" title="{% trans "Notes" %}"></a>
            {% endif %}
            {% if riskfactor.suggestion_yes %}
            <a id="show-sugg-yes" title="{% trans "Suggestion Yes" %}"></a>
            {% endif %}
            {% if riskfactor.suggestion_yes %}
            <a id="show-sugg-no" title="{% trans "Suggestion No" %}"></a>
            {% endif %}
	  </div>
          {{ form.check }}
          {% if form.check.errors %}
          <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            {% for error in form.check.errors %}
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            {{ error }}
          </div>
          {% endfor %}
          {% endif %}
          <label for="id_check">{{ form.check.label_tag }}</label>
        </div>
        <div id="tabs-2">
          <p>{% trans "Risk Evaluation" %}</p>
          <fieldset>
            <table>
              <tr id="{{ form.probability.html_name }}">
                <td>
                  {{ form.probability.label_tag }}
                </td>
                <td>
                  {{ form.probability }}
                </td>
                {% if form.probability.errors %}
                <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                  {% for error in field.errors %}
                  <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                  {{ error }}
                </td>
                {% endfor %}
                {% endif %}
              </tr>
            <tr id="{{ form.seriousness.html_name }}">
              <td>
                  {{ form.seriousness.label_tag }}
                </td>
                <td>
                  {{ form.seriousness }}
                </td>
                {% if form.seriousness.errors %}
                <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                  {% for error in field.errors %}
                  <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                  {{ error }}
                </td>
                {% endfor %}
                {% endif %}
              </tr>
              <tr>
                <td></td>
                <td><input type="submit" value="{% trans "Save" %}"/></td>
              </tr>
            </table>
          </fieldset>
      </div>
      <div id="tabs-3">
        <p>{{riskfactor.measure}}</p>
      </div>
    </div>
  </form>
  </div>
{% else %}
  {% if riskfactor.notes %}
  <script>
    $(function() {
    $( "#dlg-info" ).dialog();
    });
  </script>
  <div id="dlg-info" title="{% trans "Notes" %}">
    <p>{{ riskfactor.notes }}</p>
  </div>
  {% endif %}
{% endif %}
