{% load i18n %}

  <h1 class="ui-helper-reset ui-widget-header">{% trans "Risk Factor Evaluation" %} <span>{{ riskfactor.description }}</h1>
  <div class="ui-helper-reset ui-widget-content">
    <h2>{{ riskfactor.question }}</h2>
    <form id="riskevalform" action="/risksevaluation/{{company.id}}/revision/{{document.revision}}/eval/{{riskfactor.id}}/" method="post">{% csrf_token %}
      <fieldset>
        <table>
          {% for field in form %}
          <tr id="{{ field.html_name }}">
            <td>
              {{ field.label_tag }}
            </td>
            <td>
              {{ field }}
            </td>
            {% if field.errors %}
            <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
              {% for error in field.errors %}
              <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
              {{ error }}
            </td>
            {% endfor %}
            {% endif %}
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td><input type="submit" value="{% trans "Save" %}"/></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </div>
