{% extends "customers/base-company.html" %}
{% load i18n %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block title %}{% trans "Risks Evaluation Document create" %}{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Risks Evaluation Document create" %}</h1>
  <div class="ui-helper-reset ui-widget-content">
    <form action="{{ form.success_url }}" method="post">{% csrf_token %}
      <fieldset>
        <table>
          {% for field in form %}
          <tr id="{{ field.html_name }}">
            <td>
              {{ field.label_tag }}
            </td>
            <td>
              {{ field }}
            </td>
            {% if field.errors %}
            <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
              {% for error in field.errors %}
              <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
              {{ error }}
            </td>
            {% endfor %}
            {% endif %}
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td><input type="submit" value="{% trans "Create" %}"/></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
