{% extends "customers/base.html" %}
{% block title %} Gestione Personale Azienda: {{ staff.company.firm }} {% endblock %}
{% block content %}
<h1> Customers available </h1>
{% if cc_list %}
  <table>
    {% for cc in cc_list %}
    <tr>
      <td>
	<a href='/customers/{{ cc.id }}/'>{{ cc.firm }}</a>
      </td>
      <td>
      ({{ cc.ateco_sector }})
      </td>
      <td>
	{{ cc.record_date }}
      </td>
    <tr>
  {% endfor %}
{% else %}
<p>No companies are available.</p>
{% endif %}
{% endblock %}
