body {
    margin: 0;
    padding: 0 0 20px;
    min-height: 100%;
}

fieldset
{
    padding: 1.4em 1.4em 1.4em 1.4em;
    margin: 1.5em;
}

#wrapper {
    margin: 0 auto;
    width: 956px;
    position: relative;
}

#banner {
    height: 125px;
}

.content-top {
    height: 20px;
    float: right;
}

#content-wrapper {
}

#workenv label {
    display: block;
    padding: 5px;
}

#content {
    zoom: 1;
}

#content .content {
    min-height: 380px;
}

.content {
    padding: 0 3px 0 3px;
    overflow: visible;
}

#application-content {
    padding: 5px;
    margin: 0 -1px;
}

.content #mainmenu {
    float: left;
}

#maincontent {
    padding: 15px;
    float: right;
    width: 75%;
}

ul.menu {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding-left: 0.2em;
}

#mainmenu {
    float: left;
    width: 190px;
}

#maincontent {
    float: right;
}

#mainmenu li {
}

#submenu li {
    display: inline;
    margin-right: 0.1em;
}

#submenu a {
    text-decoration: none;
}

#toolbar li {
    display: inline;
}

#toolbar a {
    text-decoration: none;
}

#mainmenu a {
    text-decoration: none;
}

a.tablelink{
    text-decoration: none;
}

#mainmenu li.active {
    top: 1px;
    border-bottom: 0;
}

.gridbox {
    margin-bottom: 0.2em;
}

/* Use a .box to create a padded box inside a column.  */
.toolbarbox {
    padding: 0.2em;
    margin-bottom: 0.2em;
}

td.fieldname{
    vertical-align: top;
    width: 30%;
    }
