body {
    margin: 0;
    padding: 0 0 20px;
    background: transparent url('../images/body_bg.jpg') no-repeat center top;
    min-height: 100%;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 956px;
    position: relative;
}

#banner {
    height: 125px;
}

#content-wrapper {
    background: none;
}

#content {
    background: url('../images/content_body_bg.png') no-repeat 0 13px;
    zoom: 1;
}

#content .content {
    min-height: 380px;
    background: url('../images/dot.png') repeat-y 203px 0;
}

.content {
    padding: 0 3px 0 3px;
    overflow: visible;
}

#application-content {
    background: white;
    padding: 5px;
    margin: 0 -1px;
}

.content #mainmenu {
    float: left;
}

#maincontent {
    background: white;
    padding: 15px;
    float: right;
    width: 75%;
}

ul.menu {
    list-style: none;
    list-style-position: outside;
    margin: 0;
    padding-left: 0.2em;
}

a.visited {
    color:#06c;
}

a {
    color:#06c;
}

#mainmenu {
    float: left;
    width: 190px;
}

#maincontent {
    float: right;
}

#mainmenu li {
}

#submenu li {
    display: inline;
    margin-right: 0.1em;
}

#submenu a {
    text-decoration: none;
}

#toolbar li {
    display: inline;
}

#toolbar a {
    text-decoration: none;
}

#mainmenu a {
    text-decoration: none;
}

a.tablelink{
    text-decoration: none;
}

#mainmenu a.visited {
    color: black;
    }

#mainmenu li.active {
    background: #fff;
    top: 1px;
    border-bottom: 0;
    color: #5f95ef;
}

.gridbox {
    background:#e5eCf9;
    margin-bottom: 0.2em;
}

/* Use a .box to create a padded box inside a column.  */
.toolbarbox {
    background:#e5eCf9;
    padding: 0.2em;
    margin-bottom: 0.2em;
}
