{% extends "accounts/base-accounts.html" %}
{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
<link href="/static/datatables/css/demo_table_jui.css" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block title %} Attività {{ user }} {% endblock %}
{% block title2 %} Attività {{ user }} {% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  $('#activities').dataTable({"bJQueryUI": true,"oLanguage": { "sUrl": "/static/dataTables.italian.txt" }});
  });
</script>
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Attività</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table id="activities" class="display">
      <thead>
        <tr>
          <th>Data</th>
          <th>Attività</th>
          <th>Su</th>
        </tr>
      </thead>
      <tbody>
        {% for activity in activities %}
        <tr>
          <td>
            {{ activity.date }}
          </td>
          <td>
            {{ activity.action }} {{ activity.content_type.name }}
          </td>
          <td>
            {{ activity.content_object }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
