<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
{% load url from future %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div id='login'>
  <div class='inner'>
    <h3>Secuchecklist login</h3>    
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <table>
	<tr>
	  <td>{{ form.username.label_tag }}</td>
	  <td>{{ form.username }}</td>
	</tr>
	<tr>
	  <td>{{ form.password.label_tag }}</td>
	  <td>{{ form.password }}</td>
	</tr>
      </table>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>  

