{% extends "accounts/base-accounts.html" %}
{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
<link href="/static/datatables/css/demo_table_jui.css" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block title %} Profilo {{ user }} {% endblock %}
{% block title2 %} Profilo {{ user }} {% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  $('#mycompanies').dataTable({"bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
  });
  $('#mystaff').dataTable({"bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
  });
  $('#mysecduty').dataTable({"bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
  });
  } );
  $(function() {
  $( "#accordion" ).accordion({collapsible: true});
  });
</script>
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Profilo {{ user }}</h1>
  <div class="ui-helper-reset ui-widget-content">
    <div id="accordion">
      <h3><a href="#">Clienti registrati da {{ user }}</a></h3>
      <div>
        <table id="mycompanies" class="display">
          <thead>
            <tr>
              <th>Azienda</th>
              <th>Settore ATECO 2007</th>
              <th>Data registrazione</th>
            </tr>
          </thead>
          <tbody>
            {% for cc in user.get_profile.customercompany_set.all %}
            <tr>
              <td>
                <a href="{% url company-detail cc.id %}">{{ cc.firm }}</a>
              </td>
              <td>
                ({{ cc.ateco_sector }})
              </td>
              <td>
                {{ cc.record_date }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h3><a href="#">Personale registrato da {{ user }}</a></h3>
      <div>
        <table id="mystaff" class="display">
          <thead>
            <tr>
              <th>Azienda</th>
              <th>Personale</th>
              <th>Mansione Omogenea</th>
              <th>Mansione</th>
            </tr>
          </thead>
          <tbody>
            {% for staff in user.get_profile.staff_set.all %}
            <tr>
              <td>
                <a href="{% url company-detail staff.company.id %}">{{ staff.company.firm }}</a>
              </td>
              <td>
                <a href="{% url staff-detail staff.company.id staff.id %}">
                  {{ staff.surname }} {{ staff.name }}</a>
              </td>
              <td>
                {{ staff.standard_task }}
              </td>
              <td>
                {{ staff.role }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <h3><a href="#">Figure prevenzione registrate da {{ user }}</a></h3>
      <div>
        <table id="mysecduty" class="display">
          <thead>
            <tr>
              <th>Azienda</th>
              <th>Figura</th>
              <th>Nome e Cognome</th>
              <th>Telefono interno</th>
              <th>Telefono esterno</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            {% for secduty in user.get_profile.companysecurityduty_set.all %}
            <tr>
              <td>
                <a href="{% url company-detail secduty.company.id %}">
                  {{ secduty.company.firm }}
                </a>
              </td>
              <td>
                {{ secduty.security_duty }}
              </td>
              <td>
                {{ secduty.surname }} {{ secduty.name }}
              </td>
              <td>
                {{ secduty.internal_phone }}
              </td>
              <td>
                {{ secduty.external_phone }}
              </td>
              <td>
                <a href="mailto:{{ company.email }}">{{ secduty.email }}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
