{% extends "base.html" %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
{% block title %} Profilo {{ user.get_full_name }} {% endblock %}
{% block mainmenu %}
      <ul>
	<li><a href="/accounts/profile/">Profile</a></li>
	<li><a href="/customers/">Customers</a></li>
	<li><a href="/accounts/logout">Logout</a></li>
      </ul>
{% endblock %}
{% block submenu %}
      <ul>
	<li><a href="/customers/create/">Aggiungi Azienda</a></li>
      </ul>	
{% endblock %}    
{% block content %}
<h2> Your Customers </h2>
  <table>
    {% for cc in user.get_profile.customercompany_set.all %}
    <tr>
      <td>
	<a href='/customers/{{ cc.id }}/'>{{ cc.firm }}</a>
      </td>
      <td>
      ({{ cc.ateco_sector }})
      </td>
      <td>
	{{ cc.record_date }}
      </td>
    <tr>
  {% endfor %}
{% endblock %}
