{% extends "customers/base-customers.html" %}
{% load i18n %}

{% block title %}{% trans "Customer companies" %}: {{ company.firm }} {% endblock %}
{% block title2 %}{% trans "Customer companies" %}: {{ company.firm }} {% endblock %}

{% block customersmenu %}
<h3><a href="#">{% trans "Customer companies" %}</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        {% trans "Customer companies" %}
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
        {% trans "Current company" %}
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
        {% trans "Working env" %}
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
        {% trans "Staff" %}
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
        {% trans "Security Duties" %}
      </a>
    </li>
    <li>
      <a href="{% url machine-list company.id %}">
        {% trans "Machines" %}
      </a>
    </li>
  </ul>
</div>
{% endblock %}
