{% extends "customers/base-customers.html" %}
{% block title %} Gestione Azienda: {{ company.firm }} {% endblock %}
{% block submenu %}
        <li>
          <a href="{% url company-detail company.id %}">
            {{ company.firm }}
          </a>
        </li>
        <li>
          <a href="{% url set-working-env company.id %}">
            Ambiente di Lavoro
          </a>
        </li>
        <li>
          <a href="{% url staff-list company.id %}">
            Organigramma
        </a>
        <li>
          <a href="{% url companysecurityduty-add company.id %}">
            Aggiungi Figura Prevenzione
        </a>
        </li>
{% endblock %}
{% block content %}
<h2>Figure Prevenzione</h2>
<table>
  <thead>
    <tr>
      <td>Figura</td>
      <td>Nome e Cognome</td>
      <td>Telefono interno</td>
      <td>Telefono esterno</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
  {% for secduty in companysecurityduty_set %}
  <tr>
    <td>
      {{ secduty.security_duty }}
    </td>
    <td>
        {{ secduty.surname }} {{ secduty.name }}
    </td>
    <td>
      {{ secduty.internal_phone }}
    </td>
    <td>
      {{ secduty.external_phone }}
    </td>
    <td>
      <a href="mailto:{{ company.email }}">{{ secduty.email }}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
