{% extends "customers/base-customers.html" %}
{% block extra_head %}
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
{% endblock %}
{% block title %} Gestione Azienda: {{ company.firm }} {% endblock %}
{% block title2 %} Figure Prevenzione: {{ company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
        Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url department-add company.id %}">
        Aggiungi Reparto
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
        Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-add company.id %}">
        Aggiungi Figura Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content %}
<script>
  $(document).ready( function () {
  $('#secduties').dataTable({"bJQueryUI": true,
  "aoColumns": [
  /* Figura */ null,
  /* Nome e Cognome */ null,
  /* Telefono interno */ null,
  /* Telefono esterno */ null,
  /* Email */ null,
  /* Azioni */ { "bSearchable": false,
  "bVisible": true,
  "bSortable": false,
  "mDataProp": null,
  },
  ],
  }
  );
  } );
</script>
<div class="gridbox">
  <table id="secduties" class="display">
    <thead>
      <tr>
        <th>Figura</th>
        <th>Nome e Cognome</th>
        <th>Telefono interno</th>
        <th>Telefono esterno</th>
        <th>Email</th>
        <th>Azioni</th>
    </tr>
    </thead>
    <tbody>
      {% for secduty in companysecurityduty_set %}
      <tr>
        <td>
          {{ secduty.security_duty }}
        </td>
        <td>
          {{ secduty.surname }} {{ secduty.name }}
        </td>
        <td>
          {{ secduty.internal_phone }}
        </td>
        <td>
          {{ secduty.external_phone }}
        </td>
        <td>
          <a href="mailto:{{ company.email }}">{{ secduty.email }}</a>
        </td>
        <td>
          <a title="modifica" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url companysecurityduty-edit company.id secduty.id %}">
            <a title="elimina" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="{% url companysecurityduty-delete company.id secduty.id %}">
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
