{% extends "customers/base-customers.html" %}
{% block extra_head %}
<link href="/static/autocomplete/css/jquery-ui.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
<style type="text/css" title="currentStyle">
@import "/static/datatables/css/demo_table.css";
</style>
{% endblock %}
{% block title %} Anagrafica Aziende {% endblock %}
{% block title2 %} Anagrafica Aziende {% endblock %}
{% block submenu %}
      <ul>
        <li>
          <a href="{% url company-create %}">Aggiungi Azienda
          </a>
        </li>
        {% for year in years %}
        <li>
          <a href="{% url company-year year %}">{{ year }}
          </a>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
{% block content %}
<script>
  $(document).ready( function () {
  $('#companies').dataTable();
  } );
</script>
  {% if companies %}
        <table id="companies" class="display">
          <thead>
            <tr>
              <th>Azienda</th>
              <th>Settore ATECO 2007</th>
              <th>Data registrazione</th>
            </tr>
          </thead>
          <tbody>
          {% for cc in companies %}
          <tr>
            <td>
              <a href="{% url company-detail cc.id %}">{{ cc.firm }}</a>
            </td>
            <td>
              ({{ cc.ateco_sector }})
            </td>
            <td>
              {{ cc.record_date }}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
            {% else %}
            <p>No companies are available.</p>
            {% endif %}
{% endblock %}
