{% extends "customers/base-company.html" %}
{% load i18n %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Are you sure?" %}</h1>
  <div class="ui-helper-reset ui-widget-content">
    <p>
      {% trans "Do you really want to remove customer company" %} <em>{{ company.firm }}</em>?
    </p>
    <p>
      {% trans "Details extract:" %}
      <ul>
	<li> <em>{% trans "Firm" %}</em>: <strong>{{ company.firm }}</strong> </li>
	<li> <em>{% trans "Tax code" %}</em>: <strong>{{ company.tax_code }}</strong> </li>
	<li> <em>{% trans "Vat code" %}</em>: <strong>{{ company.vat_code }}</strong> </li>
	<li> <em>{% trans "ATECO Sector 2007" %}</em>: <strong>{{ company.ateco_sector }}</strong> </li>
      </ul>
    </p>
    <form action="" method="post">{% csrf_token %}
      <div>
	<input type="hidden" name="post" value="{% trans "yes" %}">
	<input type="submit" value="{% trans "Yes, I'm sure" %}">
      </div>
    </form>
  </div>
</div>
{% endblock %}
