{% extends "customers/base-customers.html" %}
{% load i18n %}

{% block title %} Gestione Personale Azienda: {{ staff.company.firm }} {% endblock %}
{% block submenu %}
      <ul>
        <li>
          <a href="{% url company-create %}">{% trans "Add a new company" %}</a>
        </li>
        {% for year in years %}
        <li>
          <a href="{% url company-year year %}">{{ year }}
          </a>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
{% block content %}
<h1> Customers registered in {{ month }} </h1>
        <table>
          <thead>
            <tr>
              <td>{% trans "Company" %}</td>
              <td>{% trans "ATECO Sector 2007" %}</td>
              <td>{% trans "Record date" %}</td>
            </tr>
          </thead>
          <tbody>
          {% for cc in companies %}
          <tr>
            <td>
              <a href="{% url company-detail cc.id %}">{{ cc.firm }}</a>
            </td>
            <td>
              ({{ cc.ateco_sector }})
            </td>
            <td>
              {{ cc.record_date }}
            </td>
          <tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}
