{% extends "customers/base-customers.html" %}
{% block extra_head %} {{ form.media }} {% endblock %}
{% block title %} Modifica Anagrafica {% endblock %}
{% block title2 %} {{ company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
	Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
	Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
	Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
	    Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
	Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Modifica Azienda</h1>
  <div class="ui-helper-reset ui-widget-content">
    <form action="{{ form.success_url }}" method="post">{% csrf_token %}
      <fieldset>
	<table>
	  {% for field in form %}
	  <tr id="{{ field.html_name }}">
	    <td>
	      {{ field.label_tag }}
	    </td>
	    <td>
	      {{ field }}
	    </td>
	    {% if field.errors %}
	    <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
	      {% for error in field.errors %}
	      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
	      {{ error }}
	    </td>
	    {% endfor %}
	    {% endif %}
	  </tr>
	  {% endfor %}
	  <tr>
	    <td></td>
	    <td><input type="submit" value="Aggiorna"/></td>
	  </tr>
	</table>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
