{% extends "customers/base-customers.html" %}
{% block title %} Modifica Anagrafica {% endblock %}
{% block title2 %} {{ company.firm }} {% endblock %}
{% block submenu %}
	<li>
	  <a href="{% url company-detail company.id %}">	  
	  {{ company.firm }}
	  </a>
	</li>
	<li>
	  <a href="{% url set-working-env company.id %}">
	    Ambiente di Lavoro
	  </a>
	</li>
	<li>
	  <a href="{% url staff-list company.id %}">
	    Organigramma
	</a>
	</li>
	<li>
	  <a href="{% url companysecurityduty-list company.id %}">
	    Figure Prevenzione
	</a>
	</li>
{% endblock %}
{% block content %}
<h1>Registrazione Azienda</h1>
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
