{% extends "customers/base-customers.html" %}
{% block extra_head %} {{ form.media }} {% endblock %}
{% block title %} Registrazione Azienda {% endblock %}
{% block submenu %}{% endblock %}
{% block content %}
<h1>Registrazione Azienda</h1>
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
  <fieldset>
  {% for field in form %}
  <label for="{{ field.html_name }}">{{ field.label_tag }}</label>
  {% if field.errors %}
  {% for error in field.errors %}
  <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
      <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
        {{ error }}
      </p>
  </div>
  {% endfor %}
  {% endif %}
  {{ field }}
  {% endfor %}
  </fieldset>
  <input type="submit" value="Registra"/>
</form>
{% endblock %}
