{% extends "customers/base-customers.html" %}
{% block extra_head %}
<link href="/static/datatables/css/demo_table.css" type="text/css" media="all" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
{% endblock %}
{% block title %} Gestione Personale Azienda: {{ department.company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
	Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
	Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
	Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
	Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
	Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content-top %}
  <a title="Modifica" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url department-edit company.id department.id %}"></a>
{% endblock %}

{% block content %}
<script>
  $(document).ready( function () {
  $('#staff').dataTable({
  "bJQueryUI": true,
  "aoColumns": [/* Personale */ null,
  /* Mansione Omogenea */ null,
  /* Figura prevenzione */ null,
  /* Azioni */ { "bSearchable": false,
  "bVisible": true,
  "bSortable": false,
  "mDataProp": null,
  },
  ],
  }
  );
  } );
</script>
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Descrizione reparto</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table>
      <tr><td class="fieldname">Reparto</td><td> {{ department.name }}</td></tr>
      <tr><td class="fieldname">Superficie</td><td> {{ department.size }} </td></tr>
      <tr><td class="fieldname">Descrizione</td><td> {{ department.description }} </td></tr>
    </table>
  </div>
</div>

<div style="margin: 10px;" class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Personale presso il reparto</h1>
  <div style="margin: 10px; padding: 10px;" class="ui-helper-reset ui-widget-content">
    <table id="staff" class="display">
      <thead>
	<tr>
	  <th>Personale</th>
	  <th>Mansione Omogenea</th>
	  <th>Figura prevenzione</th>
	  <th>Azioni</th>
	</tr>
      </thead>
      <tbody>
	{% for staff in department.staff_set.all %}
	<tr>
	  <td>
	    <a href="{% url staff-detail company.id staff.id %}">{{ staff.surname }} {{ staff.name }}</a>
	  </td>
	  <td>
	    {{ staff.standard_task }}
	  </td>
	  <td>
	    {{ staff.security_duty }}
	  </td>
	  <td>
	    <a title="Elimina dal reparto" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="{% url staff-delete company.id staff.id %}"></a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
