{% extends "customers/base-company.html" %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
<link href="/static/datatables/css/demo_table_jui.css" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block title %}{% trans "Customer company" %}: {{ company.firm }} {% endblock %}
{% block title2 %}{% trans "Equipments" %}: {{ company.firm }} {% endblock %}

{% block content-top %}
  <a title="{% trans "Add new equipment" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-plusthick" href="{% url equipment-add company.id %}"></a>
{% endblock %}
{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  $('#equipments').dataTable({"bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
  "aoColumns": [
  /* Code */ null,
  /* Department */ null,
  /* Description */ null,
  /* Actions */ { "bSearchable": false,
  "bVisible": true,
  "bSortable": false,
  "mDataProp": null,
  },
  ],
  }
  );
  } );
</script>

<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Equipments" %}</h1>
  <div style="margin-top: 10px">
    <table id="equipments" class="display">
      <thead>
        <tr>
          <th>{% trans "Code" %}</th>
          <th>{% trans "Department" %}</th>
          <th>{% trans "Operator" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for equipment in equipment_set %}
        <tr>
          <td>
            <a href="{% url equipment-detail equipment.department.company.id equipment.id %}">
              {{ equipment.name }}
            </a>
          </td>
          <td>
            <a href="{% url department-detail equipment.department.company.id equipment.department.id %}">
              {{ equipment.department }}
            </a>
          </td>
          <td>
            <a href="{% url staff-detail equipment.operator.company.id equipment.operator.id %}">
	      {{ equipment.operator }}
	    </a>
          </td>
          <td>
            <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url equipment-edit company.id equipment.id %}"></a>
            <a title="{% trans "Delete" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="{% url equipment-delete company.id equipment.id %}"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
