{% extends "customers/base-company.html" %}
{% load i18n %}

{% block extra_head %}
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
<link href="/static/datatables/css/demo_table_jui.css" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block title %}{% trans "Customer company" %}: {{ company.firm }} {% endblock %}
{% block title2 %}{% trans "Machines" %}: {{ company.firm }} {% endblock %}

{% block content-top %}
  <a title="{% trans "Add new machine" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-plusthick" href="{% url machine-add company.id %}"></a>
{% endblock %}
{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  $('#machines').dataTable({"bJQueryUI": true,
  "oLanguage": { "sUrl": "/static/dataTables.italian.txt" },
  "aoColumns": [
  /* Code */ null,
  /* Department */ null,
  /* Description */ null,
  /* Actions */ { "bSearchable": false,
  "bVisible": true,
  "bSortable": false,
  "mDataProp": null,
  },
  ],
  }
  );
  } );
</script>

<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Machines" %}</h1>
  <div style="margin-top: 10px">
    <table id="machines" class="display">
      <thead>
        <tr>
          <th>{% trans "Code" %}</th>
          <th>{% trans "Department" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Actions" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for machine in machine_set %}
        <tr>
          <td>
            <a href="{% url machine-detail machine.department.company.id machine.id %}">{{ machine.code }}</a>
          </td>
          <td>
            {{ machine.department }}
          </td>
          <td>
            {{ machine.description }}
          </td>
          <td>
            <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url machine-edit company.id machine.id %}"></a>
            <a title="{% trans "Delete" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="{% url machine-delete company.id machine.id %}"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
