{% extends "customers/base-company.html" %}
{% load i18n %}
{% block title %}{% trans "Equipment detail" %}: {{ equipment.department.company.firm }} {% endblock %}

{% block content-top %}
  <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url equipment-edit company.id equipment.id %}"></a>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{{ equipment.code }} ({{ equipment.department }})</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table class="detail">
      <tr class="even">
        <td class="fieldname">{% trans "Code" %}</td>
        <td> {{ equipment.code }}</td>
      </tr>
      <tr class="odd">
        <td class="fieldname">{% trans "Description" %}</td>
        <td> {{ equipment.description }}</td>
      </tr>
      <tr class="even">
        <td class="fieldname">{% trans "Department" %}</td>
        <td> {{ equipment.department }} </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
