{% extends "customers/base-company.html" %}
{% load i18n %}
{% block title %}{% trans "Machine detail" %}: {{ machine.department.company.firm }} {% endblock %}

{% block content-top %}
  <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url machine-edit company.id machine.id %}"></a>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{{ machine.code }} ({{ machine.department }})</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table class="detail">
      <tr class="even">
        <td class="fieldname">{% trans "Code" %}</td>
        <td> {{ machine.code }}</td>
      </tr>
      <tr class="odd">
        <td class="fieldname">{% trans "Description" %}</td>
        <td> {{ machine.description }}</td>
      </tr>
      <tr class="even">
        <td class="fieldname">{% trans "Department" %}</td>
        <td> {{ machine.department }} </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
