{% extends "customers/base-customers.html" %}
{% block title %} Gestione Personale Azienda: {{ staff.company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
	Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
	Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
	Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
	    Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
	Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content-top %}
  <a title="Modifica" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url staff-edit company.id staff.id %}"></a>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{{ staff.surname }} {{ staff.name }} ({{ staff.standard_task }})</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table>
      <tr><td class="fieldname">Nome</td><td> {{ staff.name }}</tr>
      <tr><td class="fieldname">Cognome</td><td> {{ staff.surname }} </tr>
      <tr><td class="fieldname">Data di nascita</td><td> {{ staff.birth_date }} </tr>
      <tr><td class="fieldname">Telefono</td><td> {{ staff.phone }} </tr>
      <tr><td class="fieldname">Sesso</td><td> {{ staff.gender }} </tr>
      <tr><td class="fieldname">Nazionalità</td><td> {{ staff.nationality }} </tr>
      <tr><td class="fieldname">Forma contrattuale</td><td> {{ staff.collagreement }} </tr>
      <tr><td class="fieldname">Sorveglianza sanitaria</td><td> {{ staff.health_care }} </tr>
      <tr><td class="fieldname">Computo lavoratori</td><td> {{ staff.workers_count }} </tr>
      <tr><td class="fieldname">Azienda</td><td> {{ staff.company }} </tr>
      <tr><td class="fieldname">Mansione Omogenea</td><td> {{ staff.standard_task }} </tr>
      <tr><td class="fieldname">Reparto</td><td> {{ staff.department }} </tr>
      <tr><td class="fieldname">Mansione</td><td> {{ staff.role }} </tr>
      <tr><td class="fieldname">Figura Prevenzione</td><td> {{ staff.security_duty }} </tr>
      <tr><td class="fieldname">Data assunzione</td><td> {{ staff.employ_date }} </tr>
    </table>
  </div>
</div>
{% endblock %}
