{% extends "customers/base-customers.html" %}
{% load adminmedia %} /* At the top of the template. */

/* In the head section of the template. */
{% block extra_head %}
<script type="text/javascript">
window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

{{ form.media }}

{% endblock %}
{% block title %} Registrazione Personale {% endblock %}

{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
	Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
	Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
	Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
	    Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
	Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Registrazione Personale</h1>
  <div class="ui-helper-reset ui-widget-content">
    <form action="{{ form.success_url }}" method="post">{% csrf_token %}
      <fieldset>
	<table>
	  {% for field in form %}
	  <tr>
	    <td>
	      <label for="{{ field.html_name }}">{{ field.label_tag }}</label>
	    </td>
	    <td>
	      {{ field }}
	    </td>
	    {% if field.errors %}
	    <td class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
	      {% for error in field.errors %}
	      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
	      {{ error }}
	    </td>
	    {% endfor %}
	    {% endif %}
	  </tr>
	  {% endfor %}
	</table>
      </fieldset>
      <input type="submit" value="Aggiorna"/>
    </form>
  </div>
</div>
{% endblock %}
