{% extends "customers/base-customers.html" %}
{% block extra_head %}
<link href="/static/datatables/css/demo_table.css" type="text/css" media="all" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
{% endblock %}
{% block title %} Azienda: {{ company.firm }} {% endblock %}
{% block title2 %} Azienda: {{ company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
        Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
        Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-add company.id %}">
        Aggiungi Personale
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
        Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content-top %}
  <a title="Aggiungi personale" class="ui-state-default ui-corner-all ui-icon ui-icon-plusthick" href="{% url staff-add company.id %}"></a>
{% endblock %}
{% block content %}
<script>
    $(document).ready( function () {
                           $('#staff').dataTable({
                                                     "bJQueryUI": true,
                                                     "aoColumns": [/* Personale */ null,
                                                         /* Mansione Omogenea */ null,
                                                         /* Mansione */ null,
                                                         /* Azioni */ { "bSearchable": false,
                                                                        "bVisible": true,
                                                                        "bSortable": false,
                                                                        "mDataProp": null,
                                                                      },
                                                     ],
                                                 }
                                                );
                       } );
</script>
<div class="gridbox">
  <h2>Organigramma</h2>
  <table id="staff" class="display">
    <thead>
      <tr>
        <th>Personale</th>
        <th>Mansione Omogenea</th>
        <th>Mansione</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      {% for staff in staff_set %}
      <tr>
        <td>
          <a class="tablelink" href="{% url staff-detail company.id staff.id %}">
            {{ staff.surname }} {{ staff.name }}</a>
        </td>
        <td>
          {{ staff.standard_task }}
        </td>
        <td>
          {{ staff.role }}
        </td>
        <td>
          <a title="modifica" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url staff-edit company.id staff.id %}">
            <a title="elimina" class="ui-state-default ui-corner-all ui-icon ui-icon-trash" href="{% url staff-delete company.id staff.id %}"></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
