{% extends "customers/base-company.html" %}
{% load i18n %}

{% block title %}{% trans "Staff of company" %}: {{ staff.company.firm }} {% endblock %}

{% block content-top %}
  <a title="{% trans "Edit" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-pencil" href="{% url staff-edit company.id staff.id %}"></a>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{{ staff.surname }} {{ staff.name }} ({{ staff.standard_task }})</h1>
  <div class="ui-helper-reset ui-widget-content">
    <table class="detail">
      <tr class="even"><td class="fieldname">{% trans "Name" %}</td><td> {{ staff.name }}</tr>
      <tr class="odd"><td class="fieldname">{% trans "Surname" %}</td><td> {{ staff.surname }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Birth date" %}</td><td> {{ staff.birth_date }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Phone" %}</td><td> {{ staff.phone }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Gender" %}</td><td> {{ staff.gender }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Nazionality" %}</td><td> {{ staff.nationality }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Collaboration Agreement" %}</td><td> {{ staff.collagreement }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Health surveillance" %}</td><td> {{ staff.health_care }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Workers count" %}</td><td> {{ staff.workers_count }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Company" %}</td><td> {{ staff.company }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Standard task" %}</td><td> {{ staff.standard_task }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Department" %}</td><td> {{ staff.department }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Role" %}</td><td> {{ staff.role }} </tr>
      <tr class="odd"><td class="fieldname">{% trans "Security duty" %}</td><td> {{ staff.security_duty }} </tr>
      <tr class="even"><td class="fieldname">{% trans "Employ date" %}</td><td> {{ staff.employ_date }} </tr>
    </table>
  </div>
</div>
{% endblock %}
