{% extends "customers/base-customers.html" %}
{% block title %} Gestione Personale Azienda: {{ staff.company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
        Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
        Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
            Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
        Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="gridbox">
  <h1>{{ staff.surname }} {{ staff.name }} ({{ staff.standard_task }})</h1>
  <table>
    <tr><td>Nome</td><td> {{ staff.name }}</tr>
    <tr><td>Cognome</td><td> {{ staff.surname }} </tr>
    <tr><td>Data di nascita</td><td> {{ staff.birth_date }} </tr>
    <tr><td>Telefono</td><td> {{ staff.phone }} </tr>
    <tr><td>Sesso</td><td> {{ staff.gender }} </tr>
    <tr><td>Nazionalità</td><td> {{ staff.nationality }} </tr>
    <tr><td>Forma contrattuale</td><td> {{ staff.collagreement }} </tr>
    <tr><td>Sorveglianza sanitaria</td><td> {{ staff.health_care }} </tr>
    <tr><td>Computo lavoratori</td><td> {{ staff.workers_count }} </tr>
    <tr><td>Azienda</td><td> {{ staff.company }} </tr>
    <tr><td>Mansione Omogenea</td><td> {{ staff.standard_task }} </tr>
    <tr><td>Reparto</td><td> {{ staff.department }} </tr>
    <tr><td>Mansione</td><td> {{ staff.role }} </tr>
    <tr><td>Figura Prevenzione</td><td> {{ staff.security_duty }} </tr>
    <tr><td>Data assunzione</td><td> {{ staff.employ_date }} </tr>
  </table>
</div>
{% endblock %}
