{% extends "customers/base-company.html" %}
{% load i18n %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Sei sicuro?" %}</h1>
  <div class="ui-helper-reset ui-widget-content">
    <p>
      {% trans "Sei sicuro di voler cancellare" %}
      <em>{{ staff.surname }} {{ staff.name }}</em> {% trans "con mansione omogena" %} <strong>{{ staff.standard_task }}</strong> {% trans "dall'azienda" %} <strong>{{ company.firm }}</strong>?
    </p>
    <form action="" method="post">{% csrf_token %}
      <div>
	<input type="hidden" name="post" value="yes">
	<input type="submit" value="{% trans "Yes, I'm sure" %}">
      </div>
    </form>
  </div>
</div>
{% endblock %}
