{% extends "customers/base-customers.html" %}
{% block extra_head %}
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/datatables/js/jquery.dataTables.js"></script>
{% endblock %}
{% block title %} Azienda: {{ company.firm }} {% endblock %}
{% block title2 %} Azienda: {{ company.firm }} {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url company-detail company.id %}">
	{{ company.firm }}
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
	Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-add company.id %}">
	Aggiungi Personale
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
	Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block toolbar %}
<ul class="menu">
</ul>
{% endblock %}
{% block content %}
<script>
  $(document).ready( function () {
  $('#staff').dataTable({"bJQueryUI": true});
  } );
</script>
<div class="gridbox">
  <h2>Organigramma</h2>
  <table id="staff" class="display">
    <thead>
      <tr>
	<th>Personale</th>
	<th>Mansione Omogenea</th>
	<th>Mansione</th>
      </tr>
    </thead>
    <tbody>
      {% for staff in staff_set %}
      <tr>
    <td>
      <a class="tablelink" href="{% url staff-detail company.id staff.id %}">
	{{ staff.surname }} {{ staff.name }}</a>
    </td>
    <td>
      {{ staff.standard_task }}
    </td>
    <td>
      {{ staff.role }}
    </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
