{% extends "customers/base-customers.html" %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-edit company.id %}">
        Modifica Azienda
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
        Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
        Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
        Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">Sei sicuro?</h1>
  <div class="ui-helper-reset ui-widget-content">
    <p>
      Sei sicuro di voler cancellare <em>{{ staff.surname }} {{ staff.name }}</em> con mansione omogena <strong>{{ staff.standard_task }}</strong> dall'azienda <strong>{{ company.firm }}</strong>?
    </p>
    <form action="" method="post">{% csrf_token %}
      <div>
        <input type="hidden" name="post" value="yes">
        <input type="submit" value="Yes, I'm sure">
      </div>
    </form>
  </div>
</div>
{% endblock %}
