{% extends "customers/base-customers.html" %}
{% load adminmedia %} /* At the top of the template. */

/* In the head section of the template. */
{% block extra_head %}
<script type="text/javascript">
window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

{{ form.media }}

{% endblock %}
{% block title %} Registrazione Personale {% endblock %}
{% block customersmenu %}
<h3><a href="#">Anagrafica</a></h3>
<div>
  <ul class="menu">
    <li>
      <a href="{% url customers %}">
        Aziende
      </a>
    </li>
    <li>
      <a href="{% url company-detail company.id %}">
        Azienda corrente
      </a>
    </li>
    <li>
      <a href="{% url set-working-env company.id %}">
        Ambiente di Lavoro
      </a>
    </li>
    <li>
      <a href="{% url staff-list company.id %}">
            Organigramma
      </a>
    </li>
    <li>
      <a href="{% url companysecurityduty-list company.id %}">
        Figure Prevenzione
      </a>
    </li>
  </ul>
</div>
{% endblock %}
{% block content %}
<h1>Registrazione Personale</h1>
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Aggiorna"/>
</form>
{% endblock %}
