{% extends "customers/base-customers.html" %}
{% block extra_head %}{{ form.media }}{% endblock %}
{% block title %} Registrazione Personale {% endblock %}
{% block submenu %}
        <li>
          <a href="{% url company-detail company.id %}">
            {{ company.firm }}
          </a>
        </li>
        <li>
          <a href="{% url department-add company.id %}">
            Aggiungi Reparto
        </a>
        </li>
        <li>
          <a href="{% url staff-list company.id %}">
            Organigramma
        </a>
        <li>
          <a href="{% url companysecurityduty-list company.id %}">
            Figure Prevenzione
        </a>
        </li>
{% endblock %}
{% block content %}
<h1>Ambiente di Lavoro</h1>
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<h1>Reparti</h1>
<table>
  <thead>
    <tr>
      <th>Nome Reparto</th>
      <th>Superficie</th>
    </tr>
  </thead>
  <tbody>
  {% for department in company.department_set.all %}
  <tr>
    <td>
      <a href="{% url department-detail company.id department.id %}">{{ department.name }}</a>
    </td>
    <td>
      {{ department.size }}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
