{% extends "customers/base-customers.html" %}
{% block title %} Registrazione Personale {% endblock %}
{% block submenu %}
        <li>
          <a href="{% url company-detail company.id %}/">
            {{ company.firm }}
          </a>
        </li>
        <li>
          <a href="{% url add-dep company.id %}">
            Aggiungi Reparto
        </a>
        </li>
        <li>
          <a href="{% url add-staff company.id %}">
            Aggiungi Personale
        </a>
        <li>
          <a href="{% url add-secduty company.id %}">
            Aggiungi Figura Prevenzione
        </a>
        </li>
{% endblock %}
{% block content %}
<h1>Registrazione Personale</h1>
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
