{% extends "customers/base-customers.html" %}
{% block extra_head %}
<link href="/static/autocomplete/css/jquery-ui.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js" charset="utf-8" >
</script>
{{ form.media }}
<style type="text/css" title="currentStyle">
@import "/static/datatables/css/demo_table.css";
</style>
{% endblock %}
{% block title %} Ambiente di Lavoro {{ company.firm }} {% endblock %}
{% block title2 %} Ambiente di Lavoro {{ company.firm }} {% endblock %}
{% block toolbar %}
<ul class="menu">
  <li>
    <a href="{% url department-add company.id %}">
      Aggiungi Reparto
    </a>
  </li>
</ul>
{% endblock %}
{% block content %}
<script>
  $(document).ready( function () {
  $('#deps').dataTable();
  } );
</script>
<div id="workenv" class="gridbox">
<form action="{{ form.success_url }}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</div>
<div class="gridbox">
<h1>Reparti</h1>
<table id="deps" class="display">
  <thead>
    <tr>
      <th>Nome Reparto</th>
      <th>Superficie</th>
    </tr>
  </thead>
  <tbody>
  {% for department in company.department_set.all %}
  <tr>
    <td>
      <a href="{% url department-detail company.id department.id %}">{{ department.name }}</a>
    </td>
    <td>
      {{ department.size }}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
