{% extends "riskfactors/base-riskfactors.html" %}

{% load i18n %}

{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="/static/js/tree.jquery.js"></script>
<link rel="stylesheet" href="/static/css/jqtree.css" type="text/css" media="all"/>
{% endblock %}

{% block title %}{% trans "Risk Factors" %}{% endblock %}
{% block title2 %}{% trans "Risk Factors" %}{% endblock %}

{% block content-top %}
      <a title="{% trans "Add a new risk factor" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-plusthick" href="{% url riskfactor-create %}"></a>
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  $.getJSON('/riskfactors/riskfactors/',
  function(data){
  $('#riskfactors').tree({ data: data });
  $('#riskfactors').bind('tree.click',
  function(event){
  var node = event.node;
  window.location = node.detail_url;
  });
  });
  } );
</script>
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Risk Factors" %}</h1>
  <div style="margin: 10px">
    <div id="riskfactors"></div>
  </div>
</div>
{% endblock %}
