{% extends "riskfactors/base-riskfactors.html" %}

{% load i18n %}

{% block extra_head %}
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.checkbox.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="/static/js/jstree.hotkeys.js"></script> -->
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.themes.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.xml.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.contextmenu.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.sort.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.ui.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.dnd.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.json.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.state.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/jstree.unique.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/riskfactor.tree.js"></script>
<link rel="stylesheet" href="/static/css/jqtree.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/static/css/jquery.contextmenu.css" type="text/css" media="all"/>
{% endblock %}

{% block title %}{% trans "Risk Factors" %}{% endblock %}
{% block title2 %}{% trans "Risk Factors" %}{% endblock %}

{% block content-top %}
      <a title="{% trans "Add a new risk factor" %}" class="ui-state-default ui-corner-all ui-icon ui-icon-plusthick" href="{% url riskfactor-create %}"></a>
{% endblock %}

{% block content %}
<script type="text/javascript">
  $(document).ready( function () {
  buildtree();
  });
</script>
<div class="ui-helper-reset ui-widget">
  <h1 class="ui-helper-reset ui-widget-header">{% trans "Risk Factors" %}</h1>
  <div style="margin: 10px">
    <div id="riskfactors"></div>
  </div>
</div>
{% endblock %}

