<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link href="/static/css/layout.css" type="text/css" media="all" rel="stylesheet"/>
  <link href="/static/css/typography.css" type="text/css" media="all" rel="stylesheet"/>
  <link href="/static/css/jquery.ui.base.css" type="text/css" media="all" rel="stylesheet"/>
  <link href="/static/css/jquery.ui.accordion.css" type="text/css" media="all" rel="stylesheet"/>
  <link href="/static/css/jquery.ui.theme.css" type="text/css" media="all" rel="stylesheet"/>
  <script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <script>
    $(function() {
          $( "#mainmenuacco" ).accordion({collapsible: true});
    {% block extrascript %}
    {% endblock %}
    });
  </script>
  <div id="wrapper">
    <div id="banner">
      {% block banner %} {% endblock %}
    </div>
    <div id="content-wrapper">
      <div id="content">
        <div class="content-top">
          {% block content-top %}
          {% endblock %}
        </div>
        <div class="content">

          <div id="mainmenu">
            <div id="mainmenuacco">

              {% block accountmenu %}
              <h3><a href="#">Profilo</a></h3>
              <div>
                <ul class="menu">
                  <li>
                    <a href="{% url profile %}">Profilo</a>
                  </li>
                  <li>
                    <a href="{% url logout %}">Logout</a>
                  </li>
                </ul>
              </div>
              {% endblock %}

              {% block customersmenu %}
              <h3><a href="#">Anagrafica</a></h3>
              <div>
                  <li>
                    <a href="{% url customers %}">Aziende</a>
                  </li>
                  <li>
                    <a href="{% url company-create %}">Aggiungi Azienda</a>
                  </li>
              </div>
              {% endblock %}

            </div>
          </div>

          <div id="maincontent">
            {% block content %}{% endblock %}
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
