<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link href="/static/css/blueprint.reset.css" type="text/css" media="all" rel="stylesheet">
  <link href="/static/css/blueprint.grid.css" type="text/css" media="all" rel="stylesheet">
  <link href="/static/css/blueprint.typography.css" type="text/css" media="all" rel="stylesheet">
  <link href="/static/css/style.css" type="text/css" media="all" rel="stylesheet">
  <link href="/static/css/jquery.ui.base.css" type="text/css" media="all" rel="stylesheet">
  <script type="text/javascript" src="/static/autocomplete/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/autocomplete/js/jquery-ui.min.js"></script>
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>{% block title2 %} {% endblock %}
    </div>

    {% if error %}
    <div id="error-content" class="span-24 error last">
      {% block errorbox %}
      {% endblock %}
    </div>
    {% endif %}

    {% if success %}
    <div id="success-content" class="span-24 success last">
      {% block successbox %}
      {% endblock %}
    </div>
    {% endif %}

    <div id="mainmenu" class="span-2 gridbox">
      {% block mainmenu %}
      {% endblock %}
    </div>

    <div id="main-content" class="span-20">
      <div id="submenu" class="toolbarbox last">
	{% block submenu %}
	{% endblock %}
      </div>
      {% block content %}{% endblock %}
      <div id="toolbar" class="toolbarbox last">
	{% block toolbar %}
	{% endblock %}
      </div>
    </div>
</body>
</html>
