<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- Framework CSS Blueprint -->
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/screen.css" type="text/css" media= "screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/print.css" type="text/css" media= "print" />
 <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->

 <!-- Import fancy-type plugin. -->
 <link rel="stylesheet" href="{{ STATIC_URL }}blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
 {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>{% block title2 %} {% endblock %}
    </div>

    {% if error %}
    <div id="error-content" class="span-24 error last">
      {% block errorbox %}
      {% endblock %}
    </div>
    {% endif %}      

    {% if success %}
    <div id="success-content" class="span-24 success last">
      {% block successbox %}
      {% endblock %}
    </div>
    {% endif %}      

    <div id="sidebar" class="span-4 box">	
      {% block sidebar %}      
      {% endblock %}
    </div>      
    <div id="main-content" class="span-16">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
